body{
	margin: 0;
	font-family: sans-serif;
}

a{
	text-decoration: none;
	color: black;
}

header{
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	column-gap: 16px;
	position: ;
	top: 0;
	left: 0;
	right: 0;
}

button{
	padding: 12px;
	background-color: #5E5E5E;
	color: white;
	border: 1px solid #5E5E5E;
	border-radius: 7px;
}


.logo {
	width: 120px;
}

.botones1{
	display: flex;
	column-gap: 60px;
	margin-right: 40px;
	align-items: center;
}

.box1 a{
	color: black;
	padding-bottom: 10px;
	text-decoration: none;
	text-align: center;

}

.box1 a:hover{
	border-bottom: solid;
	color: grey;
}



.introduccion{
	background-image: url("./img/fondo.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
	max-width: 100%;
    height: 500px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: top;
	gap: 30px;
	text-align: center;
}

.introduccion h6{
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 10px;
}

.introduccion p{
	margin-left: 60px;
	margin-right: 60px;
}

.botones2{
	display: flex;
	gap: 17px;
}

.botonblanco{
	padding: 12px;
	background-color: white;
	color: black;
	border: 1px solid;
	border-radius: 7px;
}


.calendario{
	margin-left: 100px;
}

.calendario h1{
	font-size: 80px;
}

.calendario input{
	height: 25px;
	width: 300px;
}
.calendario button{
	height: 31px;
	padding: 0;
	border-radius: 4px;
}