/* Etiquetas generales */

body{
	margin: 0;
	font-family: sans-serif;
	color: #383838;
}

a{
	text-decoration: none;
	color: black;
}

button{
	padding: 12px;
	background-color: #5E5E5E;
	color: white;
	border: 1px solid #5E5E5E;
	border-radius: 7px;
}

button:hover{
	background-color: white;
	color: #383838;
	border: 1px solid;

}

/* Variables */




/* Header */
.cabecera{
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	column-gap: 16px;
	position: ;
	top: 0;
	left: 0;
	right: 0;
}

.logo {
	width: 120px;
}

.botones1{
	display: flex;
	column-gap: 60px;
	margin-right: 40px;
	align-items: center;
}

.box1 a{
	color: #383838;
	padding-bottom: 10px;
	text-decoration: none;
	text-align: center;

}

.box1 a:hover{
	border-bottom: solid;
	color: gray;
}


/* Primera Section: Introduccion */

.introduccion{
	background-image: url("./img/fondo.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
    height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: top;
	gap: 30px;
	text-align: center;
	padding-bottom: 130px;
}

.introduccion h2{
	font-size: 37px;
	margin-bottom: -40px;
}

.introduccion p{
	margin-top: 50px;
	margin-left: 60px;
	margin-right: 60px;

}

.botones2{
	display: flex;
	gap: 17px;
}

.botonblanco {
	padding: 12px;
	background-color: white;
	color: #383838;
	border: 1px solid;
	border-radius: 7px;
}

.botonblanco:hover{
	background-color: #5E5E5E;
	color: white;
	border: 1px solid #5E5E5E;

}


/* Apertura de Main: Calendario y Aside */

main{
	display: flex;
	gap: 40px;
	justify-content: space-between;
}

/* Segunda Section: Calendario */

.calendario{
	margin-left: 100px;
}

.calendario h1{
	font-size: 90px;
	margin-top: 80px;
	font-weight: normal;
}

.calendario table{
	border-collapse: collapse;
	width: 700px;
	text-align: center;
	margin-bottom: 100px;
}

.calendario td, th{
	border:2px solid #B3B2AF;
	width: 100px;
	height: 45px;
	margin: 0px;
	font-size: 20px;
}

tr:nth-child(2n){
	background-color: #9599A6;
}

.calendario thead{
	background-color: #DBD5C5;
	color: #6E6C64;
}

.campana{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	margin-bottom: 15px;
}

.campana input{
	height: 21px;
	width: 250px;
	margin-right: 15px;
}
.campana button{
	height: 27px;
	padding: 0;
	border-radius: 3px;
	font-size: 10px;
	width: 100px;
}

.campana img{
	height: 30px;
}

.campana div{
	flex-grow: 1;
}


/* Aside */

.lateral{
	display: flex;
	flex-direction: column;
	border:1px solid #B3B2AF;
	padding: 26px;
	gap: 60px;
	padding-top: 35px;
	padding-bottom: 60px;
}

.lateral img{
	width: 275px;
}

.lateral h3{
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
}
.lateral p{
	margin-top: 0px;
	margin-left: 5px;
}

.lateral div{
	border: 1px solid #B3B2AF;
}

/* Cierre de Main */


/* Tercera Section */

.faq{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border-top: 1px solid #B3B2AF;
	margin-bottom: 50px;
}

.faq h4{
	font-size: 40px;
	margin-bottom: 10px;
}

.faq h5{
	font-size: 16px;
	margin: 20px;
	margin-left: 15px;
}

.faq p{
	margin-top: 0px;
	margin-bottom: 60px;
}

.box2{
	width: 600px;
	border: 1px solid #B3B2AF;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.box2 img{
	height: 35px;
}

.box3{
	width: 600px;
	border: 1px solid #B3B2AF;
}

.box3 p{
	margin-left: 15px;
	margin-bottom: 20px;
	margin-top: 30px;
}

.box4{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.box3 img{
	height: 37px;
}


/* Cuarta Section: Formulario */

.formulario{
	background-image: url("./img/fondo.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.formulario form{
	display: flex;
	flex-direction: column;
}

.formulario h5{
	font-size: 22px;
	margin-bottom: 0px;
}

.formulario label{
	display: none;
}

.formulario input{
	margin-bottom: 25px;
	height: 30px;
	width: 340px;
}
.formulario p{
	width: 300px;
	font-weight: bold;
}


/* Footer */

.piedepagina{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 100px;

}

.box5{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
}

.redsocial img{
	height: 30px;
}

.box6{
	display: flex;
	align-items: center;
	gap: 20px;
	margin-right: 35px;
}

.box7{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
	margin-bottom: 30px;
}

.box7 p::before{
	content:"© ";
}

.box7 a{
	color: #383838;
}


/* Media Queries */

A